<!DOCTYPE html>
<html>
    <head>
         <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            <br>
            {% block header %}
            <button class="btn btn-success" action ="/" type="button"><a href="/">Home</a></button>
            {% endblock %}

            {% block page %}

            {% endblock %}
        </div>
    </body>
</html>
