<!DOCTYPE html>
<html>
    <head>
         <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            {% block header %}
            <a href="/">Home</a>
            {% endblock %}

            {% block page %}

            {% endblock %}

            {% block footer %}
            <button class="btn btn-warning" type="button"><a href="/delete/all/stylist">Delete Database</a></button>
            {% endblock%}
        </div>
    </body>
</html>
