{% extends 'base.html.twig' %}

{% block page%}
<h1>{{ client[0].getName }}</h1>

<form action="/patch/client/{{ client[0].getId }}" method="post">
    <input name="_method" value="patch" hidden>
    <label for="new_name">Update name:</label>
    <input type="text" name="name">
    <!-- <label>Change Stylist</label>
    <select name="new_stylist_id">
        <option></option>
        {% if listStylists is not empty%}
        {% for stylist in listStylists %}
        <option value='{{ stylist.getId }}'>{{ stylist.getName }}</option>
        {% endfor %}
        {% endif %}
    </select> -->
    <button type="submit">Update</button>
</form>

<h3>Delete Client</h3>
<form action="/delete/client/{id}" method="post">
    <input name="_method" value="delete" hidden>
    <button type="submit">Delete</button>
</form>
{% endblock %}
