{% extends 'base.html.twig' %}

{% block page %}

<h1>*WARNING THIS WILL DELETE ALL STYLIST AND CLIENTS*</h1>
<h4>Only proceed if you wish to wipe the database</h4>
<!-- <form action="delete/all/stylist" method="post">
    <input name="_method" value="delete" hidden>
    <button class="btn btn-warning" type="submit">Delete All</button>
</form> -->

{% endblock %}
