<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Currentl stylists:</h1>
        {% for stlist_name in stylists %}
        <ul>
            <li>{{stylist.getName}}</li>
        </ul>
        {% endfor %}
    </body>
</html>
